<section id="books-section" class="top-books-section">

  <div class="container">

    <div class="books-nav-wrapper">

      <h1 class="books-title visually-hidden">Trending books</h1>
      <h2 class="books-sub-title">Books</h2>

      <p class="show-count"></p>
      </p>

      <div class="dropdown" id="categoryDropdown">
        <button class="dropdown-btn">
          <span class="dropdown-text">Categories</span>
          <span class="dropdown-arrow">▼</span>
        </button>
        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <p>All categories</p>
          </li>
        </ul>

      </div>
    </div>





    <ul class="top-books-list"></ul>
    <button class="show-more-btn is-hidden" type="button">Show more</button>
  </div>

</section>