<section class="feedbacks-section container" id="feedbacks-section">
    <div class="feedbacks-container">
        <h2 class="feedbacks-title">Customer Feedbacks</h2>
        <p class="feedbacks-text">See what our readers are saying about us!</p>
    </div>

    <div class="swiper swiper-feedback">

        <ul class="swiper-wrapper swiper-wrapper-feedback">

            <li class="swiper-slide swiper-slide-feedback" >
                <p class="feedbacks-text-item">Great selection, fast delivery, and beautifully packaged books. My go-to
                    store
                    for weekend reads!</p>
                <div class="customer-container">
                    <img class="customer-img" src="./img/feedbacks-img/jane.webp.webp" loading="lazy" alt="Jane Doe" width="48px"
                        height="48px">
                    <div class="customer-div">
                        <h3 class="customer-title">Jane Doe</h3>
                        <p>Book Lover, Reader</p>
                    </div>
                </div>
            </li>
            <li class="swiper-slide swiper-slide-feedback" >
                <p class="feedbacks-text-item">Customer service was super helpful, and my order arrived earlier than
                    expected.
                    Highly recommend!</p>
                <div class="customer-container">
                    <img class="customer-img" src="./img/feedbacks-img/john.webp.webp" loading="lazy" alt="John Smith" width="48px"
                        height="48px">
                    <div class="customer-div">
                        <h3 class="customer-title">John Smith</h3>
                        <p class="customer-p">Editor, BookMag</p>
                    </div>
                </div>
            </li>
            <li class="swiper-slide swiper-slide-feedback">
                <p class="feedbacks-text-item">Love the curated picks and clear descriptions. Makes it easy to find my
                    next
                    favorite book.</p>
                <div class="customer-container">
                    <img class="customer-img" src="./img/feedbacks-img/emily.webp.webp" loading="lazy" alt="Emily Johnson" width="48px"
                        height="48px">
                    <div class="customer-div">
                        <h3 class="customer-title">Emily Johnson</h3>
                        <p class="customer-p">Author, Novelist</p>
                    </div>
                </div>
            </li>
            <li class="swiper-slide swiper-slide-feedback" >
                <p class="feedbacks-text-item">This website offers a delightful browsing experience with easy navigation
                    that
                    keeps readers coming back for more.</p>
                <div class="customer-container">
                    <img class="customer-img" src="./img/feedbacks-img/fedir.webp.webp" loading="lazy" alt="Fedir" width="48px"
                        height="48px">
                    <div class="customer-div">
                        <h3 class="customer-title">Fedir Konopelko</h3>
                        <p class="customer-p">JavaScript Developer, Jedi</p>
                    </div>
                </div>
            </li>
            <li class="swiper-slide swiper-slide-feedback" >
                <p class="feedbacks-text-item">Excellent bookstore with a cozy vibe and a wide range of titles!</p>
                <div class="customer-container">
                    <img class="customer-img" src="./img/feedbacks-img/michael.webp.webp" loading="lazy" alt="Michael Brown"
                        width="48px" height="48px">
                    <div class="customer-div">
                        <h3 class="customer-title">Michael Brown</h3>
                        <p class="customer-p">Reader, Enthusiast</p>
                    </div>
                </div>
            </li>
            <li class="swiper-slide swiper-slide-feedback" >
                <p class="feedbacks-text-item">On this site, books breathe - just like my father`s characters: every
                    page smells
                    of loss, love, and hope.</p>
                <div class="customer-container">
                    <img class="customer-img" src="./img/feedbacks-img/maria.webp.webp" loading="lazy" alt="Maria Remarque"
                        width="48px" height="48px">
                    <div class="customer-div">
                        <h3 class="customer-title">Maria Remarque</h3>
                        <p class="customer-p">Erich`s Daughter</p>
                    </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="swiper-controls">

        <div class="custom-swiper-pagination"></div>

        <div class="swiper-buttons-container">
            <div class="feedback-custom-swiper-button-prev" role="button" aria-label="Previous slide">
                <svg width="24" height="24" aria-hidden="true" focusable="false">
                    <use xlink:href="./img/icons.svg#icon-left-arrow-alt"></use>
                </svg>
            </div>
            <div class="feedback-custom-swiper-button-next" role="button" aria-label="Next slide">
                <svg width="24" height="24" aria-hidden="true" focusable="false">
                    <use xlink:href="./img/icons.svg#icon-right-arrow-alt"></use>
                </svg>
            </div>
        </div>
    </div>

</section>


