<footer class="footer">
  <div class="container footer-container">
    <div class="nav-wrapper">
      <a class="logo" href="/index.html">
        <svg class="logo-icon" width="84" height="36">
          <use href="./img/logo.svg#icon-Company-Logo"></use>
        </svg>
      </a>

      <nav>
        <ul class="nav-links-list" id="nav-links">
          <li class="nav-links-item">
            <a href="#home-section" class="nav-list-link">Home</a>
          </li>
          <li class="nav-links-item">
            <a href="#books-section" class="nav-list-link">Books</a>
          </li>
          <li class="nav-links-item">
            <a href="#feedbacks-section" class="nav-list-link">Feedbacks</a>
          </li>
          <li class="nav-links-item">
            <a href="#location-section" class="nav-list-link">Location</a>
          </li>
        </ul>
      </nav>
    </div>

    <form class="footer-form" novalidate>
      <label class="footer-form-label" for="footer-input">Join</label>
      <div class="input-wrapper">
        <input
          class="footer-form-input"
          id="footer-input"
          type="email"
          placeholder="Enter your email"
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        />
        <button class="footer-form-btn" type="submit">Sign Up</button>
      </div>
      <p class="footer-form-description">* Required field</p>
    </form>
    <p class="footer-copy">&copy; 2025 Booksy. All rights reserved.</p>
  </div>
</footer>
