<header class="header container">
  <nav class="nav-header">
    <a class="logo-header" href="https://rocketreact.github.io/x-team-booksy">
      <svg class="logo-icon" width="84" height="36">
        <use
          class="logo-use-icon"
          href="./img/logo.svg#icon-Company-Logo"
        ></use>
      </svg>
    </a>

    <button class="burger-header-button" type="button" id="burger-button">
      <svg class="burger-button-icon" width="24" height="24">
        <use
          class="burger-button-use"
          href="./img/icons.svg#icon-menu-alt-right"
        ></use>
      </svg>
    </button>

    <ul class="nav-links-list" id="nav-links">
      <li class="nav-links-item">
        <a href="#home-section" class="nav-list-link">Home</a>
      </li>
      <li class="nav-links-item">
        <a href="#books-section" class="nav-list-link">Books</a>
      </li>
      <li class="nav-links-item">
        <a href="#feedbacks-section" class="nav-list-link">Feedbacks</a>
      </li>
      <li class="nav-links-item">
        <a href="#events-section" class="nav-list-link">Events</a>
      </li>
      <li class="nav-links-item">
        <a href="#location-section" class="nav-list-link">Location</a>
      </li>
    </ul>
  </nav>
</header>
