<section>
  <div class="container">
    <div class="swiper hero-swiper">
      <ul class="swiper-wrapper hero-swiper-wrapper hero-js"></ul>

      <div class="hero-title-wrapper">
        <div class="hero-swiper-button-wrapper">
          <button
            type="button"
            class="hero-swiper-button-prev hero-swiper-button"
          >
            <svg class="swiper-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-left-arrow-alt"></use>
            </svg>
          </button>

          <button
            type="button"
            class="hero-swiper-button-next hero-swiper-button"
          >
            <svg class="swiper-svg" width="24" height="24">
              <use href="./img/icons.svg#icon-right-arrow-alt"></use>
            </svg>
          </button>
        </div>

        <h1 class="hero-title">
          Discover Your
          <span class="hero-title-text-wrap">Next Great Read Today!</span>
        </h1>
      </div>
    </div>
  </div>
</section>
