<section class="location-section" id="location">
  <div class="container location-container">
    <div class="location-top">
      <div class="location-text-wrapper">
        <p class="section-label">Location</p>
        <h2 class="location-title">How to find us</h2>
        <p class="location-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
      </div>

      <ul class="location-list">
        <li>
          <svg class="location-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-envelope"></use>
          </svg>
          <div>
            <p class="location-item-title">Email</p>
            <a href="mailto:hello@booksy.com">hello@booksy.com</a>
          </div>
        </li>
        <li>
          <svg class="location-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-phone"></use>
          </svg>
          <div>
            <p class="location-item-title">Phone</p>
            <a href="tel:+612413043012">+61 (241) 304-3012</a>
          </div>
        </li>
        <li>
          <svg class="location-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-map"></use>
          </svg>
          <div>
            <p class="location-item-title">Office</p>
            <span>123 Books St, Sydney NSW 2000 AU</span>
          </div>
        </li>
      </ul>
    </div>

    <div class="location-map">
      <iframe
        src="https://www.google.com/maps?q=123+Books+St,+Sydney+NSW+2000+AU&output=embed"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
  </div>
</section>
