<div class="mobile-menu-wrapper" id="mobile_menu">
  <div class="mobile-nav-menu-wrapper container">
    <a class="logo-mob-nav" href="https://rocketreact.github.io/x-team-booksy">
      <svg class="logo-icon" width="84" height="36">
        <use
          class="logo-use-icon"
          href=".public/img/logo.svg#icon-Company-Logo"
        ></use>
      </svg>
    </a>

    <button class="mob-menu-close" type="button" id="mob-close-button">
      <svg class="mob-menu-button-icon" width="24" height="24">
        <use class="mob-menu-button-use" href="./img/icons.svg#icon-x"></use>
      </svg>
    </button>

    <ul class="nav-links-mob-list">
      <li class="nav-links-item">
        <a href="#home-section" class="nav-list-mob-link">Home</a>
      </li>
      <li class="nav-links-item">
        <a href="#books-section" class="nav-list-mob-link">Books</a>
      </li>
      <li class="nav-links-item">
        <a href="#feedbacks-section" class="nav-list-mob-link">Feedbacks</a>
      </li>
      <li class="nav-links-item">
        <a href="#events-section" class="nav-list-mob-link">Events</a>
      </li>
      <li class="nav-links-item">
        <a href="#location-section" class="nav-list-mob-link">Location</a>
      </li>
    </ul>
  </div>
</div>
