:root {
  --main-font: 'Rubik', sans-serif;
  --primary-color: #0b0500;

  --main-background: #fceee6;
  --footer-backgroud: #ea8d50;
  --primary-transition: 250ms linear;

  --hover-link-opacity: 0.2;
  --active-link-opacity: 0.8;
  --disablr-link-opacity: 0.2;
  --white-color: #ffffff;

  /* TODO Orange-btn */
  --btn-normal-bcg-color: #e15d05;
  --btn-hover-bcg-color: #0b0500;
  --btn-active-bcg-color: #b44a04;

  /* TODO White-btn */
  --wbtn-hover-bcg-color: #ea8d50;
  --wbtn-active-bcg-color: #dad9d8;
  --wbtn-border: 1px solid #0b0500;
  --btns-disable-opacity: 0.2;

  /* TODO Inputs */
  --input-background-color: rgba(11, 5, 0, 0.05);
  --placeholder-color: rgba(11, 5, 0, 0.6);
  --error-color: #ad0000;
  --inputs-border: 1px solid rgba(11, 5, 0, 0.15);
  --inputs-textarea-border: 1px solid rgba(11, 5, 0, 0.6);

  /* TODO Arrows */
  --arrows-btn-normal: #e15d05;
  --arrows-btn-hover: #fceee6;
  --arrows-btn-active: #5a2502;
  --arrows-btn-disable-opacity: 0.2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--main-font);
  color: var(--primary-color);
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  background-color: var(--main-background);
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

img {
  width: 100%;
  border-radius: 16px;
}
