/* ol,
ul {
  padding-left: 0;

} */

.top-books-section {
  padding-bottom: 32px;
}

.top-book-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.top-book-item:last-child {
  margin-bottom: 24px;
}

.top-book-img {
  width: 100%;
  height: 488px;
  object-fit: cover;
}

.top-book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-book-info-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-book-title {
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-color);
  max-width: 287px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.top-book-price {
  font-weight: 600;
  font-size: 20px;
  color: var(--primary-color);
  margin-left: auto;
}

.top-book-author {
  font-size: 14px;
  color: var(--primary-color);
}

.top-book-btn {
  border: var(--wbtn-border);
  border-radius: 4px;
  padding: 8px 20px;
  height: 40px;
  font-size: 14px;
  font-weight: 500;
  color: var(--primary-color);
  transition:
    background-color 0.5s ease,
    color 0.5s ease;
}

.top-book-btn:hover,
.top-book-btn:focus {
  background-color: var(--wbtn-hover-bcg-color);
  color: var(--white-color);
  border: none;
}

.top-book-btn:active {
  background-color: var(--wbtn-active-bcg-color);
  color: var(--white-color);
}

.show-more-btn {
  text-align: center;
  border: 1px solid var(--btn-normal-bcg-color);
  border-radius: 4px;
  padding: 12px 24px;
  margin: 0 auto;
  display: block;
  width: 100%;
  max-width: 342px;
  height: 48px;
  background: var(--btn-normal-bcg-color);
  color: var(--white-color);
  transition:
    background-color 0.5s ease,
    color 0.5s ease,
    border 0.5s ease;
}

.show-more-btn:hover,
.show-more-btn:focus {
  background-color: var(--btn-hover-bcg-color);
  color: var(--white-color);
  border: var(--btn-hover-bcg-color);
}

.show-more-btn:active {
  background-color: var(--btn-active-bcg-color);
}

.is-hidden {
  display: none;
}

@media screen and (min-width: 768px) {
  .top-books-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .top-book-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1440px) {
  .top-book-item {
    width: calc((100% - 24px * 3) / 4);
  }
}

/* Dropdown menu */
.dropdown {
  position: relative;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .dropdown {
    max-width: 249px;
  }

}

.dropdown-btn {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ddd;
  height: 43px;
  border-radius: 4px;
  background: gray;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  transition: border-color 0.2s;
}

.dropdown-btn:hover {
  border-color: #999;
}

.dropdown-btn:focus {
  outline: none;
  border-color: #007bff;
}

.dropdown-arrow {
  font-size: 12px;
  transition: transform 0.2s;
}

.dropdown.open .dropdown-arrow {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: gray;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0 0 6px 6px;
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
  opacity: 0;
  transform: translateY(-5px);
  visibility: hidden;
  transition: all 0.2s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dropdown.open .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}

.dropdown-item {
  padding: 10px 16px;
  cursor: pointer;
  border-left: 3px solid transparent;
  transition: all 0.15s;
  font-size: 14px;
}

.dropdown-item:hover {
  background: #f8f9fa;
  border-left-color: #fd7e14;
}

.dropdown-item.selected {
  background: #fff3cd;
  border-left-color: #fd7e14;
  font-weight: 500;
}

/* Для Webkit-браузеров (Chrome, Safari, Edge) */
.dropdown-menu::-webkit-scrollbar {
  width: 6px;
  /* Тонкий скролл */

}

.dropdown-menu::-webkit-scrollbar-thumb {
  background: #fd7e14;
  /* Оранжевый ползунок */
  border-radius: 8px;
}

.dropdown-menu::-webkit-scrollbar-track {

  /* Цвет полосы */
  border-radius: 8px;
}

/* Для Firefox */
.dropdown-menu {
  scrollbar-width: thin;
  scrollbar-color: #fd7e14 #ccc;
  /* thumb | track */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.books-nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .books-nav-wrapper {
    flex-wrap: nowrap;
  }
}


.books-sub-title {
  margin-right: auto;
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  color: var(--primary-color);
}