/*  Swiper Mobile Styles  */

.events-swiper {
  position: relative;
  padding: 40px 0;
}

.events-swiper-wrapper {
}

.events-swiper-slide {
  height: auto;
  margin-right: 20px;
}

.events-swiper-button-prev,
.events-swiper-button-next {
  border: 1px solid var(--arrows-btn-normal);
  background: var(--arrows-btn-normal);
  color: var(--white-color);
  width: 48px !important;
  height: 48px !important;
  left: 0 !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative !important;
}

.events-swiper-button-prev:hover,
.events-swiper-button-prev:focus,
.events-swiper-button-next:hover,
.events-swiper-button-next:focus {
  background: var(--arrows-btn-hover);
  border: 1px solid rgba(11, 5, 0, 0.15);
  color: var(--primary-color);
}

.events-swiper-button-prev:active,
.events-swiper-button-next:active {
  background: #5a2502;
  border: 1px solid rgba(11, 5, 0, 0.15);
}

.events-swiper-button-next.events-swiper-button-disabled,
.events-swiper-button-prev.events-swiper-button-disabled {
  background: var(--arrows-btn-normal);
  opacity: 0.2;
  pointer-events: none;
  cursor: default;
  filter: grayscale(70%);
}

.events-swiper-arrow {
  width: 24px !important;
  height: 24px !important;
  fill: var(--white-color);
}

.events-swiper-button-prev:hover .events-swiper-arrow,
.events-swiper-button-next:hover .events-swiper-arrow,
.events-swiper-button-prev:focus .events-swiper-arrow,
.events-swiper-button-next:focus .events-swiper-arrow {
  fill: var(--primary-color);
}

.events-swiper-button-prev:active .events-swiper-arrow,
.events-swiper-button-next:active .events-swiper-arrow {
  fill: var(--white-color);
}

.events-swiper-button-disabled .events-swiper-arrow {
  fill: var(--primary-color);
  opacity: 0.2;
}

.events-swiper-button-prev::after,
.events-swiper-button-next::after {
  display: none;
}

.events-swiper-buttons-container {
  display: flex;
  gap: 16px;
  height: 48px;
}

.events-swiper-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0 !important;
  margin-top: 32px;
  height: 48px;
}

.events-swiper-pagination {
  position: relative !important;
  display: flex;
  margin-right: 0 !important;
  gap: 8px;
}

.events-swiper-pagination-fraction,
.events-swiper-pagination-custom,
.events-swiper-horizontal > .events-swiper-pagination-bullets,
.events-swiper-pagination-bullets.events-swiper-pagination-horizontal {
  bottom: 0 !important;
}

.events-swiper-pagination > .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: var(--primary-color) !important;
  border-radius: 50%;
  opacity: 0.5;
  transition: 0.3s;
}

.events-swiper-pagination > .swiper-pagination-bullet-active {
  background: var(--primary-color) !important;
  opacity: 1;
}

/* Mobile styles */

#events-section {
  padding-top: 64px;
  padding-bottom: 64px;
  color: var(--primary-color);
  font-family: var(--main-font);
}

.events-top-content {
  margin-bottom: 32px;
}

.events-pre-header {
  margin-bottom: 16px;
  font-weight: 600;
}

.events-header {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 16px;
}

.events-desc {
  font-size: 18px;
}

.events-img {
  margin-bottom: 24px;
}

.events-item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: -0.01em;
}

.events-item-place {
  margin-bottom: 8px;
}

.events-item-desc {
  margin-bottom: 16px;
}

.events-register-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-bottom: 38px;
}

.events-register-link svg {
  vertical-align: middle;
}

.events-register-link-arrow {
  display: block;
}

/* Tablet styles */

@media screen and (min-width: 768px) {
  .events-item {
    display: flex !important;
    flex-direction: column;
  }
  .events-register-link {
    padding-bottom: 0;
  }

  .events-register-link svg {
    vertical-align: middle;
  }

  .events-register-link-arrow {
    display: block;
    width: 24px;
    height: 24px;
  }

  /* Swiper Tablet Styles */

  .events-swiper {
    height: auto;
  }

  .events-swiper-wrapper {
    align-items: stretch;
  }

  .events-swiper-slide {
    height: auto !important;
    margin-right: 24px !important;
  }

  .events-register-link {
    margin-top: auto;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
  }
}

/* Desktop styles */

@media screen and (min-width: 1440px) {
  .events-swiper-controls {
    display: none;
  }
  .events-top-content {
    width: 768px;
    height: 168px;
  }

  .events-header {
    font-size: 48px;
  }

  .events-desc {
    padding-right: 208px;
  }

  .events-item {
    width: 421px !important;
  }
  .events-item-title {
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: -0.01em;
  }
}
