/* SWIPER STYLES  */

.feedbacks-content-wrapper-li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.swiper-feedback {
  position: relative;
  width: 100%;
}

.swiper-wrapper-feedback {
  display: flex;
  align-items: stretch;
}

.swiper-slide-feedback {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
  padding: 32px;
  border: var(--inputs-border);
  border-radius: 16px;
  width: 100%;
  height: auto;
  min-height: 314px;
}

.feedback-custom-swiper-button-prev,
.feedback-custom-swiper-button-next {
  border: 1px solid var(--arrows-btn-normal);
  background: var(--arrows-btn-normal);
  color: var(--white-color);
  width: 48px;
  height: 48px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.feedback-custom-swiper-button-prev:hover,
.feedback-custom-swiper-button-prev:focus,
.feedback-custom-swiper-button-next:hover,
.feedback-custom-swiper-button-next:focus {
  background: var(--arrows-btn-hover);
  border: 1px solid rgba(11, 5, 0, 0.15);
  color: var(--primary-color);
  fill: var(--primary-color);
}

.feedback-custom-swiper-button-prev:active,
.feedback-custom-swiper-button-next:active {
  background: #5a2502;
  border: 1px solid rgba(11, 5, 0, 0.15);
}

.feedback-custom-swiper-button-next.feedback-custom-swiper-button-disabled,
.feedback-custom-swiper-button-prev.feedback-custom-swiper-button-disabled {

  opacity: 0.2;
  pointer-events: none;
  cursor: default;
}

.feedback-custom-swiper-button-next svg,
.feedback-custom-swiper-button-prev svg {
  pointer-events: none;
  width: 24px !important;
  height: 24px !important;
  fill: var(--white-color);
  pointer-events: none;
}

.feedback-custom-swiper-button-prev:hover svg,
.feedback-custom-swiper-button-next:hover svg,
.feedback-custom-swiper-button-prev:focus svg,
.feedback-custom-swiper-button-next:focus svg {
  fill: var(--primary-color);
}

.feedback-custom-swiper-button-prev:active svg,
.feedback-custom-swiper-button-next:active svg {
  fill: var(--white-color);
}

.feedback-custom-swiper-button-disabled svg {
  fill: var(--primary-color);
  opacity: 1;
}

.feedback-custom-swiper-button-prev::after,
.feedback-custom-swiper-button-next::after {
  display: none;
}

.swiper-buttons-container {
  display: flex;
  gap: 16px;
  height: 48px;
}

.swiper-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;
  width: 100%;
  height: 48px;
  padding-right: 0;
}

.custom-swiper-pagination {
  display: flex;
  gap: 8px;
  position: relative;
  gap: 8px;
  margin-right: 0;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: var(--primary-color);
  border-radius: 50%;
  opacity: 0.5;
  transition: 0.3s;
}

.swiper-pagination-bullet-active {
  background: var(--primary-color);
  opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

/* Styles for Mobile devices */
@media only screen and (max-width: 767px) {
.main-feedback-swiper-wrapper {
    width: 288px;
  }
}

@media (min-width: 375px) {
.main-feedback-swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 343px;
    width: 100%;
  }
}

.main-feedback-container.container {
  padding: 0;
}

#feedbacks-section {
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  padding: 64px 16px;
  overflow-x: hidden;
}

.feedbacks-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
}

.feedbacks-content {
  flex-grow: 1;
}

.feedbacks-title {
  width: min-content;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

.feedbacks-text {
  width: 90%;
  font-size: 18px;
}

.feedbacks-text-item {
  font-size: 18px;
}

.customer-container {
  display: flex;
  align-items: center;
  gap: 16px;
  height: 48px;
}

.customer-img {
  border-radius: 100%;
  height: 48px;
  width: 48px;
}

.customer-title {
  font-weight: 600;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  .swiper-slide-feedback:nth-child(n+5) {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .swiper-slide-feedback:nth-child(n+6) {
    display: none;
  }
  .feedbacks-title {
    width: auto;
  }
  .main-feedback-container.container {
    padding-left: 32px;
    padding-right: 32px;
  }
  .main-feedback-swiper-wrapper {
    width: 100%;
    max-width: 768px;
  }

  .feedbacks-container {
    height: 94px;
  }
  #feedbacks-section {
    padding: 64px 0;
    width: 768px;
  }

  .swiper-feedback {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 24px;
    width: 705px;
  }

  .swiper-wrapper-feedback {
    width: auto;
  }
  .swiper-wrapper-feedback {
    width: auto;
  }

  .swiper-slide-feedback {
    width: 340px;
    min-height: 244px;
    display: flex;
    flex-direction: column;
  }
}

/* Styles for Desktop devices */
@media only screen and (max-width: 1199px) {
  .swiper-slide-feedback:nth-child(n+6) {
    display: none;
  }
}

@media only screen and (min-width: 1440px) {
  .swiper-slide-feedback:nth-child(n+6) {
    display: none;
  }
  .main-feedback-swiper-wrapper {
    max-width: 1440px;
  }
  .main-feedback-container.container {
    padding-left: 64px;
    padding-right: 64px;
  }
  #feedbacks-section {
    width: 1440px;
  }

  .feedbacks-title {
    font-size: 48px;
  }
  .feedbacks-title {
    font-size: 48px;
  }

  .swiper-feedback {
    width: 1312px;
  }

  .swiper-wrapper-feedback {
    width: auto;
  }

  .swiper-slide-feedback {
    width: 421px;
    min-height: 217px;
    display: flex;
    flex-direction: column;
  }
}
